.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

#header {
  border-bottom: 2px solid #1dd7ea;
}

article.post {
  border-bottom: 2px solid #1dd7ea;
}

article.post header.post-header {
  border-bottom: 2px solid #1dd7ea;
}

div.pswp__caption div.pswp__caption__center {
  font-size: 24px;
}
